/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~prismjs/themes/prism.css';
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.app-content {
  padding: 20px;
}
.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
  font-size: 16px;
}
md-card {
  margin-bottom: 15px;
}
.readable {
  margin: 15px 0 25px 0;
  background-color: #fcfcfc;
}

pre {
  overflow: scroll;
  code {
    font-size: 16px;
  }
}
