<md-card color="primary">
  <ng-content></ng-content>
</md-card>

<h3>Html <a md-button color="primary" href="https://github.com/adriancarriger/angularfire2-offline/blob/master/examples/angular-cli/src/app/examples/{{code.name}}/{{code.name}}.component.html">Github</a></h3>

<pre>
  <code [innerHtml]="html"></code>
</pre>

<h3>Typescript <a md-button color="accent" href="https://github.com/adriancarriger/angularfire2-offline/blob/master/examples/angular-cli/src/app/examples/{{code.name}}/{{code.name}}.component.ts">Github</a></h3>

<pre>
  <code [innerHtml]="typescript"></code>
</pre>
