<h1>51.2 - AngularFire2 Only</h1>
Also, try this demo using <a target="_blank" href="https://adriancarriger.github.io/angularfire2-offline/issues/51.1/dist">AngularFire2 Offline</a>

<h2>Add milk ({{max + 1}} items)</h2>
<button [disabled]="processing" (click)="removeAll()">Remove all</button>
<button [disabled]="processing" (click)="usingPush()">Use multiple pushes</button>
<button [disabled]="processing" (click)="usingUpdate()">Use multiple update</button>
<button [disabled]="processing" (click)="usingSet()">Use single set</button>


<div *ngIf="totalTime">
  <h2>Last operation took</h2>
  <p>{{totalTime}} milliseconds</p>
</div>

<h2>Amount to add</h2>
<input #inputItem type="number" step="50" value="50" (input)="max = inputItem.value - 1">

<h2>List Size</h2>
<p>{{(groceriesList | async)?.length}}</p>

<h2>List Example</h2>
<ul>
  <li *ngFor="let item of groceriesList | async">
    {{item.text}}
  </li>
</ul>
