<md-card class="readable">
  
  <h2>Managing Conflict 😕</h2>

  <md-card-content>
    <p>Write conflicts can happen with any Firebase app, and with offline writes the potential downsides increase.</p>

    <p>Below are possible solutions for common use cases.</p>
  </md-card-content>
</md-card>

<nav md-tab-nav-bar>
  <a md-tab-link
      *ngFor="let tabLink of tabLinks; let i = index"
      [routerLink]="tabLink.link"
      [active]="activeLinkIndex === i"
      (click)="activeLinkIndex = i">
    {{tabLink.label}}
  </a>
</nav>
<router-outlet></router-outlet>
